<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <h1>Register your account below</h1>


    
    <form method="POST" action="/register">
        <input type="text" name="username" placeholder="Enter username" required>
        <br> <br>
        <input type="password" name="password" placeholder="Enter password" required>
        <br><br>
        <button type="submit"> Register </button>
    </form>

                <!-- show flash messages -->
        {% with msgs = get_flashed_messages() %}
        {% if msgs %}
            <ul>
            {% for m in msgs %}
                <li>{{ m }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}

    </body>
</html>

